@import url('./components/item/item.css');
@import url('./components/container/container.css');
@import url('./components/inner/inner.css');
@import url('./components/usercard/usercard.css');
@import url('./components/slider/slider.css');
@import url('./components/dots/dots.css');

html{
    height: 100%;
}
body {
    background-color: var(--bg-color);
    color: var(--btn-border-color);
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0 10px;
}

